{% autoescape true %}
<h1 id="title">Create Score</h1>

<div id="results">
    <form action="/admin/createscore" method="post" role="form">
        <div class="form-group">
            <label for="level">Level</label>
            <select id="level" class="form-control" name="level">
                <option value=""></option>
                <option value="Fire Breather">Fire Breather</option>
                <option value="Rx">Rx</option>
                <option value="Scaled">Scaled</option>
            </select>
        </div>
        <div class="form-group">
            <label for="athleteName">Athlete Name</label>
            <select id="athletes" class="form-control" name="athleteName">
                <!-- added dynamically based on level selection -->
            </select>
        </div>
        <div class="form-group">
            <label for="wod">Wod</label>
            <select class="form-control" name="wod">
                {% for wod in wods %}
                <option value="{{ wod.name }}">{{ wod.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="score">Score</label>
            <input type="text" class="form-control" name="score">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endautoescape %}
