<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Overall Rank (points) Athlete</th>
                {% for name in wodNames %}
                <th>{{ name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in score_tbl %}
            <tr>
                {% for score in row %}
                <td>{{ score.rank }} ({{score.points}}) {{score.athlete.get().name}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
