{% autoescape true %}
<h1 id="title">{{ name }}</h1>

<div id="results">
    {% for category in categories %}
    <br>
    <h2>{{ category.name }}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for athlete in category.athletes %}
                <tr>
                    <td>{{ athlete.pos }}</td>
                    <td>{{ athlete.name }}</td>
                    <td>{{ athlete.score }}</td>
                    <td>{{ athlete.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endautoescape %}
