{% autoescape true %}
<h1 id="title">{{ name }}</h1>

<div id="results">
{% for table in tables %}
    <br>
    <h2>{{ table.name }}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table.rows %}
                    <tr>
                        <td>{{ row.pos }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.score }}</td>
                        <td>{{ row.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
</div>
{% endautoescape %}
